@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  overflow-y: scroll; /* Allow vertical scrolling without scrollbar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  @font-face {
    font-family: 'Luckiest Guy';
    font-weight: 400;
    src: url('../public/fonts/LuckiestGuy-Regular.ttf');
  }
}

.hideScrollbar {
  -ms-overflow-style: none;
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
}

.hideScrollbar::-moz-scrollbar {
  display: none;
}
.hideScrollbar::-webkit-scrollbar {
  display: none;
}
/* x-dark */
.blink.custom {
  --blink-bg-primary: transparent;
  --blink-button: #e7e5e4;
  --blink-button-disabled: #2f3336;
  --blink-button-hover: #d2d0cf;
  --blink-button-success: #00ae661a;
  --blink-icon-error: #ff6565;
  --blink-icon-error-hover: #ff7a7a;
  --blink-icon-primary: #6e767d;
  --blink-icon-primary-hover: #949ca4;
  --blink-icon-warning: #ffb545;
  --blink-icon-warning-hover: #ffc875;
  --blink-input-bg: transparent;
  --blink-input-stroke: #3d4144;
  --blink-input-stroke-disabled: #2f3336;
  --blink-input-stroke-error: #e7e5e4;
  --blink-input-stroke-hover: #6e767d;
  --blink-input-stroke-selected: #e7e5e4;
  --blink-stroke-error: #ff6565;
  --blink-stroke-primary: transparent;
  --blink-stroke-secondary: #3d4144;
  --blink-stroke-warning: #ffb545;
  --blink-text-brand: #e7e5e4;
  --blink-text-button: #111011;
  --blink-text-button-disabled: #768088;
  --blink-text-button-success: #12dc88;
  --blink-text-error: #ff6565;
  --blink-text-error-hover: #ff7a7a;
  --blink-text-input: #ffffff;
  --blink-text-input-disabled: #566470;
  --blink-text-input-placeholder: #6e767d;
  --blink-text-link: #6e767d;
  --blink-text-link-hover: #949ca4;
  --blink-text-primary: #ffffff;
  --blink-text-secondary: #949ca4;
  --blink-text-success: #12dc88;
  --blink-text-warning: #ffb545;
  --blink-text-warning-hover: #ffc875;
  --blink-transparent-error: #aa00001a;
  --blink-transparent-grey: #6e767d1a;
  --blink-transparent-warning: #a966001a;

  --blink-border-radius-rounded-lg: 0.25rem;
  --blink-border-radius-rounded-xl: 0.5rem;
  --blink-border-radius-rounded-2xl: 1.125rem;
  --blink-border-radius-rounded-button: 624.9375rem;
  --blink-border-radius-rounded-input: 624.9375rem;
}

/* In your global CSS file (e.g., styles/globals.css) */
.scroll-container {
  scroll-snap-type: y proximity; /* Enable snap behavior on the y-axis */
  overflow-y: auto; /* Allow vertical scrolling */
  height: 100lvh;
}

.scroll-post {
  scroll-snap-align: start; /* Align the start of the post */
}
